extends layout

block content
  div.page-header
    h1= title
  div(ui-view)

  script(type="text/ng-template", id="home.html")
    form(ng-submit="addGeofence()")
      table(class="table")
        thead
          tr
            th Nickname
            th Latitude
            th Longitude
            th Actions
          tr(ng-repeat="geofence in geofences")
            td {{ geofence.nickname }}
            td {{ geofence.latitude }}
            td {{ geofence.longitude }}
            td
              a(href="#").text-danger Delete
          tr
            td
              input(type="text", ng-model="nickname", placeholder="Enter nickname").form-control
            td
              input(type="text", ng-model="latitude", placeholder="Enter Latitude").form-control
            td
              input(type="text", ng-model="longitude", placeholder="Enter Longitude").form-control
            td
              button(type="submit").btn.btn-success Add geofence

  script(type="text/ng-template", id="geofence.html")
    h2 Geofence detail
    
    h3 Latitude
    {{ geofence.latitude }}

    h3 Longitude
    {{ geofence.longitude }}

    h3 Events
    table
      thead
        tr
          th Date/Time
          th Message
      tbody
        tr(ng-repeat="event in geofence.events")
          td {{ event.date }}
          td {{ event.message }}
