extends layout

block content
  div.page-header
    h1= title
  div(ui-view)

  script(type="text/ng-template", id="home.html")
    div(ng-repeat="geofence in geofences").
      Latitude: {{ geofence.latitude }}, Longitude: {{geofence.longitude}}
    form(ng-submit="addGeofence()")
      input(type="text", ng-model="latitude")
      input(type="text", ng-model="longitude")
      button(type="submit").btn.btn-default Add geofence

  script(type="text/ng-template", id="geofence.html")
    h2 Geofence detail
    
    h3 Latitude
    {{ geofence.latitude }}

    h3 Longitude
    {{ geofence.longitude }}

    h3 Events
    table
      thead
        tr
          th Date/Time
          th Message
      tbody
        tr(ng-repeat="event in geofence.events")
          td {{ event.date }}
          td {{ event.message }}
